{% extends "sub_template_inventory.html" %}

{% block page %}

<form action="/add_product_record/" method="post">
    {% csrf_token %}
    Add product:
    <br/>
    <br/>
    Name:
    <input type="text"   name="name"><br><br>
    Price:
    <input type="text"   name="price"><br><br>
    Cost:
    <input type="text"   name="cost"><br><br>
    Weight:
    <input type="text"   name="weight"><br><br>
    On hand quantity:
    <input type="text"   name="qty"><br><br>
    <input type="submit" value="Submit">
</form> 

{% endblock %}