{% extends "sub_template_inventory.html" %}

{% block page %}
    All products list:
    <br/>
    <br/>
    <table class="table">
        <thead class="thead-dark">
            <th>name</th>
            <th>price</th>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                </tr>
            {% endfor %}
        </tbody>    
    </table>
{% endblock %}