{% extends "main_template.html" %}

{% block content %}
 
    <nav class="navbar navbar-expand-lg navbar-secondary bg-secondary" >

        <div style="margin-left: 10px; padding: 5px;">
            <a class="navbar-brand">
                Inventory
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/products">All products</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/add_product">Add product</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Analytics</a>
            </li>
            {% comment %} <li class="nav-item">
                <a class="nav-link" href="#">Settings</a>
            </li> {% endcomment %}
        </ul>
        </div>
        
    </nav>


    <div class="main-container">
    {% block page %}
    {% endblock %}
    </div>
{% endblock %}